.footer
    span 本站所有图片和文章内容来源于网络，版权归原作者所有，如有侵权及违法，请联系qqzhpt@gmail.com，我们将立即予以删除！谢谢！
    script(type="text/javascript", src="https://s5.cnzz.com/z_stat.php?id=1276301345&web_id=1276301345", async="async")
script.
    var _hmt = _hmt || [];
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
        // 统计
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?1dcf8f6beaea95d4ec0ce09ed4ce4d3c"; 
        s.parentNode.insertBefore(hm, s);
    })();