.footer
    span 本站所有图片和文章内容来源于网络，版权归原作者所有，如有侵权及违法，请联系qqzhpt@gmail.com，我们将立即予以删除！谢谢！
    script(type="text/javascript", src="https://s5.cnzz.com/z_stat.php?id=1276301345&web_id=1276301345", async="async")